[submodule "dgc-businessrules-validation-core-android"]
    path = dgc-businessrules-validation-core-android
    url = https://github.com/BRZ-GmbH/dgc-businessrules-validation-core-android.git
    branch = main